$clrPrimary: brown;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  @include flexCenter(column);
  height: 100vh;
  background-image: url("/src/paws.jpg");
  background-size: cover;
  .hidden {
    margin-top: 2em;
    height: 30em;
    width: 45em;
  }
  img {
    margin-top: 2em;
    height: 30em;
    // width: 45em;
  }
  .select {
    @include flexCenter(column);

    select#breeds {
      outline: none;
      color: $clrPrimary;
      padding: 0.5em;
      font-size: 1.5em;
      font-weight: bold;
      text-transform: capitalize;
      cursor: pointer;
      &:hover {
        background-color: rgba(255, 179, 0, 0.739);
      }
    }
    label {
      font-size: 3em;
      color: $clrPrimary;
      font-weight: bold;
      margin: 1em;
    }
    option {
      cursor: pointer;
    }
  }
}
