@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}
.container {
  @include flexCenter(column);
}
.select {
  @include flexCenter(column);

  label {
    font-size: 2em;
    color: brown;
    font-weight: bold;
    margin: 1em;
  }
  option {
    text-transform: capitalize;
    font-size: 1em;
    color: brown;
  }
}
